.ReactModal__Overlay {
	opacity: 0;
	transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}

.modal {
	display: flex;
	flex-direction: column;
}

.modal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;
}

.modal__title {
	font-size: 2rem;
	color: #3c425e;
	cursor: default;
}

.modal__button {
	cursor: pointer;
}
