.rpsButton {
	background-image: radial-gradient(130px circle at 50% 63%, #dcdcdc 60%, #bcc1d7 40%);
	border-radius: 50%;
	border: 1.2rem solid;
	position: absolute;
	display: flex;
}

.rpsButton--selection {
	height: 11.3rem;
	width: 11.3rem;
	cursor: pointer;
}

.rpsButton--result {
	width: 100%;
	height: 100%;
	cursor: default;
}

.rpsButton--result--user {
	z-index: 10;
	bottom: -100%;
	animation: userEntrance 0.5s linear 600ms 1 normal forwards;
}

.rpsButton--result--allButtons {
	position: relative;
	flex-shrink: 0;
	width: 190px;
	height: 190px;
	transform: scale(0.8);
}

.rpsButton--result--house {
	animation: houseEntrance 0.2s linear 0s 1 normal forwards;
}

.rpsButton--paper {
	border-color: #5672f7;
	box-shadow: 0 7px 0 #2945c2;
}

.rpsButton--paper--selection {
	top: calc(-45% + 1.2rem);
	left: calc(-50% + 1.2rem);
}

.rpsButton--rock {
	border-color: #dd3755;
	box-shadow: 0 7px 0 #9d1630;
}

.rpsButton--rock--selection {
	bottom: calc(-45% + 1.2rem);
}

.rpsButton--scissor {
	border-color: #eda722;
	box-shadow: 0 7px 0 #c76c1a;
}

.rpsButton--scissor--selection {
	top: calc(-45% + 1.2rem);
	right: calc(-50% + 1.2rem);
}

.rpsButton__img {
	height: 50%;
	margin: auto;
}

@keyframes userEntrance {
	0% {
		bottom: -100%;
	}
	70% {
		bottom: 0;
		transform: scale(1);
	}
	100% {
		bottom: 0;
		transform: scale(1.2);
	}
}

@keyframes houseEntrance {
	from {
		transform: scale(0.8);
	}
	to {
		transform: scale(1.2);
	}
}
