.result {
	display: flex;
	width: 100%;
	margin: auto 0;
	justify-content: space-around;
}

.result__wrapper {
	display: flex;
	flex-direction: column;
}

.result__subtitle {
	color: white;
	font-size: 1.3rem;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 5rem;
}

.result__buttonWrapper {
	width: 190px;
	height: 190px;
	border-radius: 50%;
	background-color: #182341;
	position: relative;
	overflow: hidden;
}

.result__buttonWrapper--user {
	animation-name: userEntranceContainer;
	animation-duration: 0s;
	animation-fill-mode: forwards;
	animation-delay: 950ms;
}

/* .result__buttonWrapper--house {
	overflow: visible;
} */

.result__allButtons {
	position: absolute;
	display: flex;
	height: 130px;
	top: calc(50% - 95px);
	left: 100%;
	animation-delay: 1s;
	animation-name: buttonsCarrousel;
	animation-iteration-count: 5;
	animation-duration: 0.3s;
	animation-fill-mode: forwards;
}

@keyframes userEntranceContainer {
	from {
		overflow: hidden;
	}

	to {
		overflow: visible;
	}
}

@keyframes buttonsCarrousel {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-190px * 3));
	}
}
