.selection {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-top: 8rem;
	position: relative;
}

.selection__bg {
	height: 14rem;
}

@media only screen and (max-width: 780px) {
	.selection__bg {
		height: 10rem;
	}
}

@media only screen and (max-width: 590px) {
	.selection {
		margin: auto;
	}
}
